.cardDark{
  background-color: #31313196;
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.favButton{
  width: 100%;
}

.CardBody{
  width: 100%;
  position: relative;
}

.title{
  height: 2rem;
}

.hoverMessage {
  position: absolute;
  top: 14px;
  text-align: center;
}